h2{
    text-align: center;
    color: rgb(14, 10, 10);
}

body{
    background-color:antiquewhite;
}
.main{
    display: flex;
    flex-wrap: wrap;
    border: 2px rgb(8, 2, 2) solid;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 7px 4px rgb(104, 43, 43);
    background-color: black;
    margin: 10%;
}

.first, .second, .third{
    border: 2px rgb(248, 246, 246) solid;
    border-radius: 10px;
    margin: 30px;
    gap: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;

    
    
    
  
}

.first div{
    border-radius: 10px;
    border: 2px solid ;
    height: 70px;
    width: 120px;
    background-color: rgb(57, 214, 242);
    overflow: hidden;
    
}

.second div{
    border-radius: 10px;
    border: 2px solid ;
    height: 150px;
    width: 100px;
    background-color: rgb(57, 214, 242);
    border-radius: 10px;
    overflow: hidden;
}

.third div{
    border-radius: 10px;
    border: 2px solid ;
    height: 70px;
    width: 120px;
    background-color: rgb(57, 214, 242);
    overflow: hidden;
}

.grow{
    display: flex;
    flex-grow:1;
}

img{
   
    object-fit:cover;
    width: 100%;
    height: 100%;
}